<footer>
    <div class="f-info">
        <div class="f-info-social">
            <a href="https://www.facebook.com/yourpage" target="_blank">
                <i class="fa-brands fa-square-facebook"></i>
            </a>
            <a href="https://www.instagram.com/soham_a_92/" target="_blank">
                <i class="fa-brands fa-square-instagram"></i>
            </a>
            <a href="https://www.linkedin.com/in/soham-auti-111669292/" target="_blank">
                <i class="fa-brands fa-linkedin"></i>
            </a>
            <a href="https://github.com/sohamauti9623" target="_blank">
               <i class="fa-brands fa-github"></i>
            </a>
        </div>
        <div class="f-info-brand">&copy;wanderlust private ltd</div>
        <div class="f-info-links">
            <a href="/privacy">privacy </a>
            <a href="/terms">Terms </a>
        </div>
    </div>
</footer>