<% layout("/layouts/boilerplate") %>
    <div class="row mt-3">

        <div class="alert alert-danger col-6 offset-3" role="alert">

            <h4 class="alert-heading">
                <%=message %>
            </h4>
           
        </div>
      <!-- <button onclick="window.history.back()" class="btn btn-sm btn-dark   ">
  ⬅ Go Back
</button> -->


    </div>